.eventos__title {
    @extend .title;
    text-align: center;
    background-color: map-get($map: $pallette, $key: 'background');
    margin: 2rem auto;
}

.carousel-link a {
    font-size: 1.5rem;
}

.cards {
    margin-bottom: 2rem;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card-text {
    font-size: 1.5rem;
}

.card-link {
    font-size: 1.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #2fb4cc;
    padding: 5px;
    color: #fff;
}